# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json

# production
/es
/docs-dist

# misc
.DS_Store
/coverage

# umi
.umi
.umi-production
.umi-test
.env.local

# ide
/.vscode
/.idea


- 10 个选择题, 每题 2 分
- 10 个判断题, 每题 2 分
- 2 个简答题, 每题 10 分
- 综合题 40 分
